<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>WDI SF Summer 2014</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<header class="page-header">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">WDI SF: Summer 2014</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <!--li class="active"><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li-->
		      </ul>
		      <!--button class="btn btn-primary btn-md navbar-btn pull-right" data-toggle="modal" data-target="#add-blog">
				Add my blog!
			  </button-->
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>

	<div class="jumbotron text-center">
	  <h1>WDI SF: Summer 2014</h1>
	  <h3>Notes, Blog Posts and Resources for the Summer Cohort!</h3>
	</div>
	<div class="container content-wrapper">
		<div class="row">
			<div class="col-sm-8">
				<div ng-controller="PostsController">
				<!-- display posts list -->
					<h3>WDI SF Summer 2014 Blog Posts</h3>
					<p>The repo lives here: <a href="https://github.com/marklc44/wdi-sf-summer-2014/tree/master">https://github.com/marklc44/wdi-sf-summer-2014/tree/master</a>.
					</p>
					<ul class="blogs-menu">
						<li><a href="#tumblr">Tumbler Posts</a></li>
						<li> | </li>
						<li><a href="#wordpress">Wordpress Posts</a></li>
					</ul>

					<!-- tumblr Post List -->
					<h2 id="tumblr">Tumblr Posts</h2>
					<ul id="posts_list" class="post-list">
						<li ng-repeat="post in agPosts" class="post">
							<div class="post-wrapper">
								<div class="img-wrapper">
									<a href="{{ post.post_url }}"><img src="{{ post.photos[0].alt_sizes[5].url }}"></a>
								</div>
								<h3><a href="{{ post.post_url }}">{{ post.title }}</a></h3>
								<div class="meta">
									<p>from <a href="{{ post.post_url }}">{{ post.blog_name }}.tumblr.com</a></p>
									<p>{{ post.date }}</p>
								</div>
								<!--div class="content" ng-bind-html-unsafe="post.caption">{{ post.caption }}</div-->
							</div>
						</li>
					</ul>
					
					<!-- wp post list -->
					<h2 id="wordpress">Wordpress Posts</h2>
					<ul id="posts_list" class="post-list">
						<li ng-repeat="wpPost in wpPosts" class="post">
							<div class="post-wrapper">
								<div class="img-wrapper">
									<a href="{{ wpPost.URL }}"><img src="{{ wpPost.featured_image }}"></a>
								</div>
								<h3><a href="{{ wpPost.URL }}">{{ wpPost.title }}</a></h3>
								<div class="meta">
									<p>from <a href="{{ wpPost.URL }}">{{ wpPost.author.url }}</a></p>
									<p>{{ wpPost.date }}</p>
								</div>
								<!--div class="content" ng-bind-html-unsafe="post.caption">{{ post.caption }}</div-->
							</div>
						</li>
					</ul>

				</div>
			</div><!-- /.col -->
			<aside class="sidebar col-sm-4">
				<h3>Notes</h3>
				<ul>
					<li><a href="https://github.com/wdi-sf-july">WDI SF Summer 2014 Notes</a></li>
					<li><a href="https://gist.github.com/DelmerGA/">Delmer's Gists</a></li>
					<li><a href="https://github.com/wdi-sf-march-2014">Notes from the March cohort</a></li>
				</ul>
				<h3>Resources</h3>
				<h4>General Javascript</h4>
				<ul>
					<li><a href="http://javascript.crockford.com/code.html">Douglas Crockford JS Style Guide</a></li>
					<li><a href="https://github.com/airbnb/javascript/blob/master/README.md#airbnb-javascript-style-guide-">AirBnB JS Style Guide</a></li>
					<li><a href="http://coderbyte.com/">Coderbyte - Javascript Exercises</a></li>
				</ul>

				<h4>Browser Rendering</h4>
				<ul>
					<li><a href="http://frontendbabel.info/articles/webpage-rendering-101/">What Every Frontend Developer Should Know About Webpage Rendering</a></li>
					<li><a href="http://learn.jquery.com/performance/optimize-selectors/">JQuery - Performance Optimize Selectors</a></li>
					<li><a href="http://www.phpied.com/rendering-repaint-reflowrelayout-restyle/">Browser Rendering, Repaint, Reflow, Relayout and Restyle</a></li>
					<li><a href="http://caniuse.com/">Can I Use...?</a></li>
					<li><a href="http://kangax.github.io/compat-table/es5/">ECMAScript 5 Compatibility Table</a></li>
				</ul>
				<h4>Angular Resources</h4>
				<ul>
					<li><a href="http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html">From Beginner to Expert in 7 Steps</a></li>
					<li><a href="http://leftshift.io/8-tips-for-angular-js-beginners/">8 Tips for Angular JS Beginners</a></li>
					<li><a href="http://deansofer.com/posts/view/14/AngularJs-Tips-and-Tricks-UPDATED">Angular Tips and Tricks</a></li>
				</ul>

			</aside>
		</div><!-- /.row -->
	</div><!-- /.content-wrapper -->
	
	<!-- modals -->
	<div id="add-blog" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">This doesn't work yet!</h4>
	      </div>
	      <div class="modal-body">
	        <div ng-controller="BlogsController">
				<!-- add your blog to the feed -->
					<input type="text" ng-model="input.first_name" name="first_name" placeholder="First Name">
					<input type="text" ng-model="input.last_name" name="last_name" placeholder="Last Name">
					<input type="text" ng-model="input.blog_url" name="blog_url" placeholder="Add your blog url">
					<p>{{ input.first_name }}</p>
					<p>{{ input.last_name }}</p>
					<p>{{ input.blog_url }}</p>
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-primary" ng-click="blog.input(input)">Add my blog!</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="app/main.js"></script>
	<script src="app/ui.js"></script>
</body>
</html>