@import "../bootstrap/css/bootstrap.min.css";

* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}
.page-header {
	margin: 0;
	padding: 0;
}
.jumbotron {
	padding-top: 50px;
}

// Posts
.post-list {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
	.post {
		margin: 20px 0;
		padding: 10px;
	}
}

.post-wrapper {
	padding: 15px;
	background: #eee;
	.img-wrapper {
		float: left;
		margin: 0 10px 10px 0;
	}
	div {
		margin: 10px 0;
	}
	.meta {
		font-style: oblique;
		color: #999;
	}
}

.sidebar {
	background: #eee;
	padding: 15px;
}